@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,500;1,500&display=swap');

.navbar {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
    transition: top 0.3s;
    width: 100%;
    background: var(--primary-bg-color);
}

.navbar-content-container {
    max-width: 60rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

.navbar-scroll-up {
    top: calc(var(--navbar-height) * -1);
}

.navbar-scroll-down {
    top: 0;
}

.navbar a {
    font-family: "Source Code Pro", monospace;
    color: var(--primary-text-color);
    font-weight: 500;
    word-spacing: -0.4rem;
}

.navbar-page-links {
    top: 5rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    
    position: absolute;
    max-width: 60rem;
    width: 100%;
    text-align: center;
    background: var(--primary-fg-color);
}

.navbar-page-links a {
    display: block;
    padding: 1rem;

}

.navbar-button {
    font-size: 1.5rem;
}

.navbar-home-button {
    font-size: 1.5rem;
    margin-top: -0.2501rem;
}

.notes {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.notes p {
    margin: 1rem 0;
}

  