@font-face {
    font-family: 'GTWalsheimPro';
    src: url('./fonts/GTWalsheimProRegular.OTF');
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('./fonts/GTWalsheimProMedium.OTF');
    font-weight: 500;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  
    color-scheme: light dark;
    color: #F0F0F0;
    background: #000;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0; 
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
}

p, a, h2 {
    text-align: justify;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
}

/* Header */

.portfolio-name-header {
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: -2rem 0 0;

    background: linear-gradient(90deg, #9845E8 -1.72%, #33D2FF 30.05%, #DD5789 60.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.content-container {
    margin: 0 auto;
    max-width: 67.5rem;
    width: 100%;
}

header {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.say-hi-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.social-button {
    width: 12.5rem;
    height: 3.4rem;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    margin-right: 1rem;

    border-radius: 0.5rem;
    border: double 2px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.border-purple-gradient {
    background-image: 
        linear-gradient(#111, #111),
        linear-gradient(to right, #9358F7, #10D7E2);
}

.border-blue-gradient {
    background-image: 
        linear-gradient(#111, #111),
        linear-gradient(to right, #10D7E2, #DD5789);
}

/* Navbar */

nav {
    height: 7.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

.anchor-container {
    display: flex;
    align-items: center;
    gap: 1.88rem;
}

.big-text {
    font-size: 1.5rem;
    color: #FFF;
}

/* About */

.experience-container {
    display: flex;
    gap: 5.5rem
}

.experience-sidebar {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.experience-sidebar button {
    text-align: left;
    width: 10rem;
    height: 3.5rem;
    padding-left: 2.25rem;
    border-left: 0.125rem solid #1F1E1E;
    cursor: pointer;
}

.experience-content {
    width: 100%;
}

#experience-sidebar-selected, .experience-sidebar button:hover {
    background: #1F1E1E;
    border-left: 0.125rem solid #FFF;
}

#experience-sidebar-selected {
    cursor: default;
}











/* .about-container {
    padding: 4.5rem 0;
}

.about-container-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.about-container-text {
    padding: 4.5rem 0;
    height: 15rem;
    border-bottom: 0.0375rem solid #C6C6C6;
} */

/* Helper */

.small-bottom-margin {
    margin-bottom: 1.25rem;
}

.auto-bottom-margin {
    margin-bottom: auto;
}

.black-background {
    background: #111;
}

.bottom-border {
    border-bottom: 0.0375rem solid #C6C6C6;
}

.content-padding {
    padding: 8.5rem 0 8.5rem;
}

.small-content-padding {
    padding: 6rem 0;
}