/*
:root {
    --primary-accent-color: #57e1cf;
    --primary-accent-color-darker: #57e1cf;
    --secondary-accent-color: #8146f8;
    --secondary-accent-color-darker: #6a39cc;
    --accent-color-bg: #174d4f;
    --accent-gradient: linear-gradient(90deg, var(--primary-accent-color) 32%, var(--primary-accent-color-darker) 60%);
    --accent-gradient: linear-gradient(90deg, var(--secondary-accent-color) 32%, var(--secondary-accent-color-darker) 60%);
}

[data-theme="dark"] {
    --primary-bg-color: #10172f;
    --secondary-bg-color: #0e1327;
    --primary-fg-color: #0e1327;

    --primary-text-color: #505970;
    --bold-text-color: #dce3fa;
}

[data-theme="light"] {
    --primary-bg-color: #f7f7fa;
    --secondary-bg-color: #efefef; /* Maybe switch to this color  #cbe1ea
    --primary-fg-color: #FFF;
    
    --primary-text-color: #01215b;
    --bold-text-color: black;
    --seconday-text-color: #dddfdf;
} 
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-accent-color: #8146f8;
    --secondary-accent-color: #00afd1;
    --primary-secondary-gradient: linear-gradient(90deg, var(--primary-accent-color) 32%, var(--secondary-accent-color) 60%);
    --primary-gradient: linear-gradient(90deg, var(--primary-accent-color) 32%, #6838c7 60%);
    --secondary-gradient: linear-gradient(90deg, var(--secondary-accent-color) 32%, #018ca8 60%);

    --navbar-height: 5rem;
}

[data-theme="light"] {
    --primary-bg-color: #fff9f5;
    --primary-text-color: #313659;
    --secondary-text-color: #434343;
    --primary-fg-color: #eae5e5;
    --input-bg-color: #ede8e4;
    --icon-color: #000;
}

[data-theme="dark"] {
    --primary-bg-color: #1b1e3c;
    --primary-text-color: #e8eae9;
    --secondary-text-color: #434343;
    --primary-fg-color: #2f324d;
    --input-bg-color: #161830;
    --icon-color: #fff;
}

.portfolio {
    background: var(--primary-bg-color);
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

textarea, input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

h1, h2, h3, h4 {
    color: var(--primary-text-color);
}

p {
    font-weight: 300;
}

p b {
    color: var(--primary-accent-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: "Inter", sans-serif;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.text-purple-gradient {
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-color {
    color: var(--primary-text-color);
}

.accent-text {
    color: var(--primary-accent-color);
}

.secondary-text-color {
    color: var(--primary-fg-color)
}

.code-font {
    font-family: "Source Code Pro", monospace;
    color: var(--primary-text-color);
    font-weight: 500;
    word-spacing: -0.4rem;
}

.content-container {
    max-width: 60rem;
    margin: auto;
    padding: 0 1.5rem;
}

.content-header-container {
    margin-bottom: 1rem;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.content-seperator svg {
    /* width: 70%;
    max-width: 90%;
    min-width: 9rem; */
    width: 90%;
    max-width: 15rem;
    opacity: 0.4;
    display: flex;
}

.content-header {
    font-size: 1.8rem;
}

.header-subtext {
    color: var(--secondary-text-color);
    opacity: 0.7;
    font-size: 0.8rem;
}

.icon {
    color: var(--icon-color);
    background-color: var(--primary-fg-color);
    border: 0.5px solid lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.small-bottom-margin {
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}